* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7e5dca;
    color: #eff1f0;
    font-size: 2rem;
}

header h1{
    font-family: 'Svetze';
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.produto {
    width: calc(33.33% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.produto h2 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.produto button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #7e5dca;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.produto button:hover {
    background-color: #5a3f93;
}

p{
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
}

#confirmar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000
}

.modal.conteudo{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 16px; 
    font-weight: bold;
    max-width: 90%;
}

.modal.conteudo h2 {
    color: #5a3f93;
    font-size: 20px; 
}

.modal.conteudo p {
    margin-bottom: 10px;
}

.modal.conteudo #nomePresente {
    font-weight: bold;
    color: #7e5dca;
}

.modal.conteudo .btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal.conteudo button {
    background-color: #7e5dca;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal.conteudo #cancelar {
    background-color: #eff1f0;
    color: #000;
}

.modal.oculto {
    display: none;
}
#confirmar.oculto{
    display: none;
}



@media screen and (max-width: 768px) {
    header{
        font-size: 1em;
        text-align: center;
    }
    .conteudo{
        display: grid;
        grid-template-columns: 1fr;
        font-size: 1.5em;
    }

    .produto {
        width: 100%;
    }

    .modal.conteudo {
        font-size: 1em;

    }

    .modal.conteudo.h2 {
        font-size: 1em; 
    }

    .modal.conteudo.button {
       padding: 8px 16px;
    }
}
